<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90629548670-qh2lt44fjrmo3i6ib6dc3dgcmmqfvtuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90629548670-qh2lt44fjrmo3i6ib6dc3dgcmmqfvtuf</string>
	<key>API_KEY</key>
	<string>AIzaSyD76kK76RKZYdUscrSgVfFo5bffV4SS2A4</string>
	<key>GCM_SENDER_ID</key>
	<string>90629548670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paymeal</string>
	<key>PROJECT_ID</key>
	<string>paymeal</string>
	<key>STORAGE_BUCKET</key>
	<string>paymeal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90629548670:ios:864e836154eb0fd293062f</string>
	<key>DATABASE_URL</key>
	<string>https://paymeal-8aff4.firebaseio.com</string>
</dict>
</plist>